<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->

        <property name="driverClassName">com.mysql.jdbc.Driver</property>
        <property name="url">jdbc:mysql://localhost:3306/ems?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="username">root</property>
        <property name="password">supconit</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- 配置druid连接池 -->
        <property name="connection.provider_class">com.alibaba.druid.support.hibernate.DruidConnectionProvider
        </property>
        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize">1</property>
        <property name="minIdle">1</property>
        <property name="maxActive">20</property>

        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait">60000</property>

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis">60000</property>

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis">300000</property>

        <property name="validationQuery">SELECT 'x'</property>
        <property name="testWhileIdle">true</property>
        <property name="testOnBorrow">false</property>
        <property name="testOnReturn">false</property>

        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
        <property name="poolPreparedStatements">true</property>
        <property name="maxPoolPreparedStatementPerConnectionSize">20</property>

        <mapping class="com.xxs.ems.model.User"/>
        <mapping class="com.xxs.ems.model.Bumen"/>
        <mapping class="com.xxs.ems.model.Qingjia"/>
        <mapping class="com.xxs.ems.model.Kaoqin"/>
        <mapping class="com.xxs.ems.model.Jiangjin"/>
        <mapping class="com.xxs.ems.model.Gongzi"/>

    </session-factory>
</hibernate-configuration>